<div class="editCourse">
    <h2>Edit Courses</h2>
    <form class="row g-3">
        <div class="">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" value="Mark" >
        </div>
        <div class="">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" value="Otto" name="description" >
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Edit</button>
        </div>
    </form>
</div>