{{!-- <nav class="navbar navbar-expand-lg bg-body-tertiary data-bs-theme=" dark"> --}}
  <nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark" style="position: fixed;
top :0 ; width : 100% ; z-index : 1 ;">
    <div class="container-fluid row">
      <a class="navbar-brand col" href="#" style="color: lightskyblue;">
          <span style="">S</span>TeeK English

      </a>

      {{!-- <button class="navbar-toggler col" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> --}}

      <div class="collapse navbar-collapse col row" id="navbarNavAltMarkup">
        <div class="navbar-nav col row">
          <a class="nav-link active col " aria-current="page" href="../">Course</a>
          <a class="nav-link disabled col" href="#" >Manage</a>
          <div class="row col justify-content-end ">
            <a class="nav-link col " href="../signin">Sign In </a>
            <a class="nav-link  col " href="../news">Sign Up</a>

          </div>
        </div>
      </div>
    </div>
  </nav>